.lemon-cell {
  border:1px solid blue;
  width: 10px;
  height: 10px;
  display: block;
  cursor: pointer;
  background-color: transparent;

  &.pink {
    background-color: #ff01ff;
  }

  &.orange {
    background-color: #ff7e7e;
  }

  &.purple {
    background-color: #7e7eff;
  }

  &.yellow {
    background-color: #ffff7e;
  }

  &.blue {
    background-color: #7effff;
  }


}
