<div class="container">
  <div class="jumbotron  bg-success text-white mt-4">
    <h1 class="display-4">Programming Assignment</h1>
    <p class="lead">The goal of this assignment is to develop a small interactive web application, to find out what kind
      of web
      development experience you have.</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-warning btn-lg" href="#" role="button">HTML/CSS/Javscript</a>
      <br/> Develop a small fullscreen grid, which can be used to paint simple images
    </p>
    <p class="lead">
      <a class="btn btn-warning btn-lg" href="#" role="button">MVC</a>
      <br/>Create a small web application which will consume a simple webservice and display this information.
    </p>
    <p class="lead">
      <a class="btn btn-warning btn-lg" href="#" role="button">Sofware Design</a>
      <br/> The goal of this assignment is to get an insight in your capabilities to develop software solutions i.e.
      software engineering
    </p>
  </div>
</div>
